html {
  font-size: 10px;
}

.page-container {
  display: flex;

  .page__sidebar {
    width: 25rem;
    padding-top: 2rem;
  }

  .page__content {
    flex-grow: 1;
    padding: 6rem 5rem;

    display: flex;
    flex-direction: column;
  }
}

.content-pane {
  display: flex;
  width: 100%;
  padding: 3rem 2rem;

  flex-direction: column;
  flex-grow: 1;

  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(175, 175, 175);
}

.title {
  font-size: 3.2rem;
}